/*reset*/
*{
    margin: 0;
    padding: 0;
    list-style: none ;
    outline: 0;
    font-family: 'Arial','Sans-Serif';
}

#content {
	margin: 0 auto;
	width: 650px;
	height: 200px;
}

#carrossel {
	float: left;
	width: 630px;
	overflow: hidden;
	height: 150px;
}

#carrossel ul li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 5px;
}

#menu-carrossel {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
}