footer{
  width: 100%;
  height: 190px;
  margin-top: 10px;
  background-color: #000;
}

.segura_conteudo_f{
  width: 1100px;
  height: 100%;
}


/*Area das redes sociais*/
.rede_social_f{
  width: 100px;
  height: 100%;
}

.segura_rede{
  width: 50px;
  height: 160px;
}

.tamanho_rede{
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.tamanho_rede img{
  width: 35px;
  height: 35px;
}



.mapa_site{
  width: 1000px;
  height: 130px;
  margin-top: 20px;
}

.m_site{
  width: 1000px;
  height: 30px;
}

.segura_mapa{
  width: 980px;
  height: 80px;
}

.link_pags{
  width: 130px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  float: left;
  padding-top: 20px;
  color: #00C853;
}



/*.terceira_f{
  width: 200px;
  height: 30px;
  background-color: #184445;
}*/



.baixa_app{
  width: 170px;
  height: 30px;
}

.icone_app{
  width: 30px;
  height: 30px;
  color: #00C853;
}

.texto_app{
  width: 140px;
  height: 30px;
  color: #00C853;
}
