.segura_tudo{
  width: 100%;
  height: auto;
}

/*Conteudo*/
.conteudo_galeria{
  width: 1420px;
  height: 1255px;
  background-color: #A9A9A9;
}


/*Formataçao padrao dos cards*/
.coluna_img{
  width: 355px;
  height: inherit;
  float: left;
}


/****** Carousel******/
/*Menu do carousel*/
.menu_carousel{
  width: 100%;
  height: 40px;
  background-color: gray;
}

/* formatacao padao dos titulos dos cards*/
.titulo_galeria{
  width: auto;
  height: 40px;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: #00C853;
}

/*formatacao padrao da coluna que segura o carousel*/
.segura_carousel{
  width: inherit;
  height: 1120px;
  overflow: hidden;
}

ul{
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

li{
  width: 100%;
  height: 280px;
}

.imgs{
  width: 100%;
  height: 100%;
}


li img{
  width: 100%;
  height: 100%;
}



/*Informacoes da imagem*/
.escondidinha{
  width: 325px;
  display: none;
  height: 0px;
  /*max-height: 140px;*/
  float: left;
  padding: 15px;
  position: absolute;
  margin-top: -135px;
  background-color: #000;
}

/*Parceiro*/
.parceiro_titulo{
  width:325px;
  min-height: 20px;
  margin-bottom: 5px;
}

/*Inf da imagem*/
.inf_img{
  width:325px;
  min-height: 20px;
  margin-bottom: 5px;
}

/*feito na imagem principal*/
.imgs:hover .blur{
  opacity: 0.6;
  transition: 1s;
}

li:hover .escondidinha{
  height: 100px;
  opacity: 0.7;
  display: block;

}



/*Carousel moto*/
.carousel_moto{
  width: inherit;
  height: 1360px;
}

/*Carousel servico*/
.carousel_servico{
  width: inherit;
  height: 1360px;
}

/*Carousel carro*/
.carousel_carro{
  width: inherit;
  height: 1360px;
}

/*Carousel produto*/
.carousel_produto{
  width: inherit;
  height: 1360px;
}
