.body{
  background-color:#BDBDBD;
}
.arruma_menu{
  width: 100%;
  height: 55px;
  /* background-color: #EF6C00; */
  /* box-shadow: 0 5px 5px black; */
}
.container_menu{
  width: 100%;
  height: 55px;
  background-color: #000;
  z-index: 999;
  box-shadow: 0 5px 5px rgba(21,21,0,0.5);
}
.container_item_menu{
  width: 1150px;
  height: 55px;
  padding-left: 70px;
  /* padding-left: 150px; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: magenta; */
}
.item_menu{
  width: 150px;
  height: 40px;
  padding-top: 15px;
  margin-left: 10px;
  color: #00C853;
  background-color: black;
}
.item_menu1{
  width: 150px;
  height: 45px;
  padding-top: 10px;
  margin-left: 10px;
  color: #00C853;
  background-color: black;
}
.icone_item_menu{
  width: 40px;
  height: 55px;
  margin-top: -15px;
  float: left;
  color: #00C853;
  background-color: black;
}
.icone_item_menu i{
  margin-top: 10px;
  margin-left: 10px;
}

.icone_item_menu1{
  width: 40px;
  height: 55px;
  margin-top: -10px;
  float: left;
  color: #00C853;
  background-color: black;
}
.icone_item_menu1 i{
  margin-top: 10px;
  margin-left: 10px;
}
.container_slogan_logo{
  width: auto;
  height: 100px;
  background-color: #263238;
  box-shadow: 0 5px 5px rgba(21, 21, 21, 0.5);
}
.container_segura_logo_slider{
  width: 1100px;
  height: 100px;
  padding-left: 120px;
  /* background-color: green; */
  background-color: transparent;
}
.container_item_logo{
  width: 150px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  float: left;
}
.container_item_logo img{
  width: 150px;
  height: 100px;
}
.container_item_slogan{
  width: 350px;
  height: 75px;
  margin-left: 550px;
  padding-top:25px;
  font-size: 30px;
  background-color: transparent;
  float: left;
}
.rede_social{display: none}
.container_rede_social{
  transition: 2s;
  width: 100px;
  height: 50px;
  /* margin-left: auto; */
}
.container_rede_social:hover{
  transition: 2s;
  margin-left: 70%;
  height: 100px;
  border-radius: 250px;
}
.container_rede_social:hover .rede_social{display: block;}
.container_rede_social:hover .flexa_esqueda{display: none;}
