.foto_pesquisa{
  width: 100%;
  height: 800px;
  background-image: url(../pictures/background/foto_Barra.jpg);
  background-size: cover;
  /* background-color: red; */
  background-attachment: fixed;
}
.container_menu_pesquisa{
  width: 1420px;
  height:80px;
}
.container_menu_pesquisa_largura_tela{
  width: 100%;
  height: 80px;
}
.item_menu_pesquisa{
  width: 85px;
  height: 80px;
  /*background-color: orange;*/
  margin-left: 23px;
  /* background-color: #263238; */
  /*box-shadow: 0 5px 5px rgba(21, 21, 21, 0.5);*/
}

.item_menu_pesquisa img{
  width: 100%;
  height: 100%;
}

.container_parceiro_premium{
  width: 1420px;
  height: 300px;
}
.anuncio_parceiro_premium{
  width: 700px;
  height: 300px;
  /* margin-left: auto;
  margin-right: auto; */
  /* background-color: pink; */
}
.anuncio_parceiro_premium img{
  width: 690px;
  height: 290px;
}
.container_slider_produtos{
  width: 1420px;
  height: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: magenta; */
}
.container_produto_fixo{
  width: 1420px;
  height: 300px;
}
.produto_fixo{
  transition: 2s;
  width: 300px;
  height: 300px;
  margin-left: 43px;
  float: left;
  box-shadow: 0px 0px 10px #000;
}
.produto_fixo:hover{
  transition: 1s;
  box-shadow: 0px 0px 20px #000;
}
.imagem_produto_fixo{
  width: inherit;
  height: 220px;
}
.valor_produto_fixo{
  width: inherit;
  height: 30px;
}
.descricao_produto_fixo{
  width: inherit;
  height: 50px;
}
.container_campo_pesquisa_loj{
  width: 820px;
  height: 80px;
}
.fundo_opaco_loj{
  width: inherit;
  height: inherit;
  background-color: rgba(21,21,21,0.5);
}

.pulsar{
  width: 700px;
  height: 300px;
  box-shadow: 0 0 0 rgba(207,216,220,0.5);
  animation: pulse 2s infinite;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 80px rgb(0,200,83,0.4);
  }
  10%{
    box-shadow: 0px 0px 100px rgb(0,200,83,0.5);
  }
  70%{
    box-shadow: 0px 0px 80px rgb(0,200,83,0.7);
  }
  85%{
    box-shadow: 0px 0px 50px rgb(0,200,83,0.9);
  }
  100%{
    box-shadow: 0px 0px 20px rgb(0,200,83,1);
  }
}
