.foto_pesquisa{
  width: 100%;
  height: 800px;
  background-image: url(../pictures/background/foto_Barra.jpg);
  background-size: cover;
  /* background-color: red; */
  background-attachment: fixed;
}
.container_menu_pesquisa{
  width: 1420px;
  height:80px;
}
.container_menu_pesquisa_largura_tela{
  width: 100%;
  height: 80px;
}
.item_menu_pesquisa{
  width: 85px;
  height: 80px;
  /*background-color: orange;*/
  margin-left: 23px;
  /* background-color: #263238; */
  /*box-shadow: 0 5px 5px rgba(21, 21, 21, 0.5);*/
}

.item_menu_pesquisa img{
  width: 100%;
  height: 100%;
}

.container_parceiro_premium{
  width: 1420px;
  height: 300px;
}
.anuncio_parceiro_premium{
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: pink; */
}
.anuncio_parceiro_premium img{
  width: 700px;
  height: 300px;
  animation: pulse 5s infinite;
}
.container_slider_produtos{
  width: 1420px;
  height: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: magenta; */
}
.container_produto_fixo{
  width: 1420px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color:darkgrey;
}
.produto_fixo{
  width: 300px;
  height: 300px;
  margin-left: 43px;
  background-color: black;
  float: left;
}
.container_campo_pesquisa_loj{
  width: 800px;
  height: 80px;
}
.fundo_opaco_loj{
  width: inherit;
  height: inherit;
  background-color: rgba(21,21,21,0.5);
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 0px rgba()
  }
  70%{

  }
  100%{

  }
}
