
.modal{
  /*margin-top: 0px;*/
  /*padding: 0px;*/
  width: 700px;
  height: 930px;
  min-height: 732px;
  height: auto;
}

.btn_x{
  margin-left: 35px;
  /*margin-top: -5px;*/

}

.divisor_c{
  display: block;
  width: 80%;
  height: 1px;
  margin-left: 25px;
  border-radius: 100px;
  background-color: #607D8B;

}

.container_principal_mc_cp{
  width: 700px;
  min-height: 930px;
  height: auto;
  /*background-color: red;*/
}

.container_btn_sair{
  width: 50px;
  height: 20px;
  margin-top: -4px;
  /*background-color: red;*/

}

.container_titulo{
  width: 700px;
  height: 20px;
  /*background-color: blue;*/
  background-color: rgb(0, 200, 83);

}

.item_titulo{
  width: 200px;
  height: 20px;
  margin-left: 450px;
  background-color: rgb(0, 200, 83);
}

.titulo_form_veic{
  width: 250px;
  height: 30px;
  /*margin-left: 30px;*/

}

.item_titulo_form_veic{
  width: 250px;
  height: 30px;
}

/*IMAGENS*/

.container_imagens{
  width: 550px;
  height: 125px;
  /*background-color: #33cc33;*/

}

.item_imagens{
  width: 150px;
  height: 120px;
  border: solid 1px;

}

/*FORM*/

.form_cadastro_cliente{
  width: 300px;
  height: 770px;
  /*background-color: #737373;*/

}

.container_infs{
  width: 275px;
  height: 720px;
  margin-left: 10px;
  /*background-color: blue;*/

}

.input_text{
  width: 250px;
  height: 20px;
  margin-left: 20px;
  box-shadow: 0px 0px 0px 0px #000;

}
.input_text::placeholder{
  color: #000;
  font-family: 'titulo';
  text-align: left;

}

.segura_input{
  width: 250px;
  height: 30px;
  margin-left: 10px;
  /*background-color: green;*/

}
.titulo_form{
  width: 250px;
  height: 20px;
  margin-left: 30px;

}

.item_titulo_form{
  width: 250px;
  height: 20px;

}

.data_nasc{
  width: 150px;
  height: 26px;
  margin-left: 20px;
  border: solid 1px;

}

.form_cadastro_veiculo{
  width: 400px;
  height: 450px;

}

.segura_inputs_veic{
  width: 300px;
  height: 220px;
  margin-left: 100px;

}


.segura_bt{ /*input do tipo submit */
  width: 200px;
  height: 40px;

}

.input_submit_cc{
  background-color: #00C853;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  box-shadow: 0px 4px 5px -2px #000;

  /* Texto */
  color: #000;
  text-shadow: 0px 0px 2px #000;
  font-family: 'titulo';
  text-align: center;
}

.select_opt{
  width: 230px;
  height: 30px;

}
