
.container_principal_agenda{
  width: 100%;
  height: auto;
  background-color: gray;

}

.espaco{
  width: 200px;
  height: 20px;

}

.container_datas{
  width: 200px;
  height: 900px;

}

.item_datas_agenda{
  width: 200px;
  height: 80px;
  background-color: rgb(0, 200, 83);

}

/*CAIXAS CENTRAIS*/

.container_caixas_agenda{
  width: 400px;
  height: 900px;
  /*background-color: green;*/

}

.item_caixas_agenda{
  width: 400px;
  height: 80px;
  background-color: #fff;

}

.divisor_agenda{
  display: block;
  width: 400px;
  height: 1px;
  border-radius: 100px;
  background-color: #000;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*PROPAGANDA*/

.container_propaganda{
  width: 500px;
  height: 700px;
  /*background-color: pink;*/

}

.item_propaganda{
  width: 500px;
  height: 700px;

}
