/* Import dos "ícones" do Material Desgin da Google */
@import "../fonts/material_design_icons.css";
/* ****************************************** */

/* Importação da fonte a ser usada como título */
@font-face {
  font-family: titulo;
  src: url(../fonts/ibm_plex_sans__title/IBMPlexSans-Italic.ttf);
}
/* ****************************************** */

/* Importação da fonte a ser usada como conteúdo */
@font-face {
  font-family: conteudo;
  src: url(../fonts/raleway__content/Raleway-Regular.ttf);
}
/* ****************************************** */

/* ***************** Centralização de componentes ******************* */
.centro_lr{
  margin-left: auto;
  margin-right: auto;
}
/* ********************************************************* */

/* Estilização padrão para títlos - fonte */
.titulo{
  font-family: titulo;
  font-weight: bold;
}
/* ****************************** */

/* Estilização padrão para o conteúdo - fonte */
.conteudo{
  font-family: conteudo;
}
/* ****************************** */

/* Estilização padrão de links */
a{
  text-decoration: none;
  color: inherit;
}
/* ****************************** */

/* ***************** Divisor dos componentes ******************* */
.divisor{
  display: block;
  width: 80%;
  height: 1px;
  border-radius: 100px;
  background-color: #607D8B;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.divisor_l{
  display: block;
  width: 80%;
  height: 1px;
  border-radius: 100px;
  background-color: #607D8B;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
}
/* ********************************************************* */

/* ***************** Posicionamento dos componentes ******************* */
.fixed{position: fixed;}
.absolute{position: absolute;}
/* ********************************************************* */

/* ***************** Sombra dos componentes ******************* */
.sombra_preta_1{box-shadow: 0px 0px 1px #000;}
.sombra_preta_2{box-shadow: 0px 0px 2px #000;}
.sombra_preta_5{box-shadow: 0px 0px 5px #000;}
.sombra_preta_10{box-shadow: 0px 0px 10px #000;}
.sombra_preta_20{box-shadow: 0px 0px 20px #000;}
.sombra_preta_30{box-shadow: 0px 0px 30px #000;}
.sombra_preta_50{box-shadow: 0px 0px 50px #000;}
.sombra_preta_100{box-shadow: 0px 0px 100px #000;}
.sombra_preta_200{box-shadow: 0px 0px 200px #000;}

.sombra_preta_l_2{box-shadow: -2px 0px 5px #000;}

.sombra_preta_r_2{box-shadow: 4px 0px 5px -2px #000;}

.sombra_preta_b_15{box-shadow: 0px 4px 10px -3px #000;}

.sombra_verde_vivo_b{box-shadow: 0px 4px 10px -3px #000;}

.sombra_branca_2{box-shadow: 0px 0px 2px #fff;}
.sombra_branca_5{box-shadow: 0px 0px 5px #fff;}
.sombra_branca_10{box-shadow: 0px 0px 10px #fff;}
.sombra_branca_15{box-shadow: 0px 0px 15px #fff;}
.sombra_branca_50{box-shadow: 0px 0px 50px #fff;}
.sombra_branca_100{box-shadow: 0px 0px 100px #fff;}
.sombra_branca_200{box-shadow: 0px 0px 200px #fff;}
/* ********************************************************* */

/* ***************** Sombra dos textos ******************* */
.txt_sombra_1x1x1_branco{text-shadow: 1px 1px 1px #fff;}
.txt_sombra_1x1x10_branco{text-shadow: 1px 1px 10px #fff;}
.txt_sombra_1x1x25_branco{text-shadow: 1px 1px 25px #fff;}

.txt_sombra_1x1x1_verde_vivo{text-shadow: 1px 1px 1px #00C853;}

.txt_sombra_1x1x1_preto{text-shadow: 1px 1px 1px #000;}
.txt_sombra_1x1x10_preto{text-shadow: 1px 1px 10px #000;}
.txt_sombra_1x1x25_preto{text-shadow: 1px 1px 25px #000;}
/* ********************************************************* */

/* ***************** Tamanho dos componentes ******************* */
.tamanho_50x40{
  width: 50px;
  height: 40px;
}
.tamanho_40x40{
  width: 40px;
  height: 40px;
}
.tamanho_380x400{
  width: 380px;
  height: 400px;
  background-color: brown;
}
/* ********************************************************* */


/* ***************** Visibilidade dos componentes ******************* */
.display_block{display: block;}
.display_none{display: none;}
/* ********************************************************* */


/* ***************** Alinhamento de componente ******************* */
.centralizado{
  display: block;
  width: 100%;
  margin:auto;
  text-align: center;
}
/* ********************************************************* */

/* ***************** Preenchimento de componente ******************* */
.preenche_3{padding: 3px;box-sizing: border-box;}
.preenche_5{padding: 5px;box-sizing: border-box;}
.preenche_10{padding: 10px;box-sizing: border-box;}
.preenche_15{padding: 15px;box-sizing: border-box;}
.preenche_20{padding: 20px;box-sizing: border-box;}
.preenche_25{padding: 25px;box-sizing: border-box;}
.preenche_30{padding: 30px;box-sizing: border-box;}
.preenche_50{padding: 50px;box-sizing: border-box;}
.preenche_80{padding: 80px;box-sizing: border-box;}
.preenche_100{padding: 100px;box-sizing: border-box;}

.preenche_t_5{padding-top: 5px;box-sizing: border-box;}
.preenche_t_10{padding-top: 10px;box-sizing: border-box;}
.preenche_t_15{padding-top: 15px;box-sizing: border-box;}
.preenche_t_20{padding-top: 20px;box-sizing: border-box;}
.preenche_t_25{padding-top: 25px;box-sizing: border-box;}
.preenche_t_30{padding-top: 30px;box-sizing: border-box;}
.preenche_t_35{padding-top: 35px;box-sizing: border-box;}
.preenche_t_40{padding-top: 40px;box-sizing: border-box;}
.preenche_t_50{padding-top: 50px;box-sizing: border-box;}
.preenche_t_60{padding-top: 60px;box-sizing: border-box;}
.preenche_t_80{padding-top: 80px;box-sizing: border-box;}
.preenche_t_100{padding-top: 100px;box-sizing: border-box;}
.preenche_t_110{padding-top: 110px;box-sizing: border-box;}
.preenche_t_120{padding-top: 120px;box-sizing: border-box;}
.preenche_t_130{padding-top: 130px;box-sizing: border-box;}
.preenche_t_140{padding-top: 140px;box-sizing: border-box;}
.preenche_t_150{padding-top: 150px;box-sizing: border-box;}
.preenche_t_200{padding-top: 200px;box-sizing: border-box;}
.preenche_t_250{padding-top: 250px;box-sizing: border-box;}
.preenche_t_260{padding-top: 260px;box-sizing: border-box;}

.preenche_r_5{padding-right: 5px;box-sizing: border-box;}
.preenche_r_10{padding-right: 10px;box-sizing: border-box;}
.preenche_r_20{padding-right: 20px;box-sizing: border-box;}
.preenche_r_30{padding-right: 30px;box-sizing: border-box;}

.preenche_l_5{padding-left: 5px;box-sizing: border-box;}
.preenche_l_10{padding-left: 10px;box-sizing: border-box;}
.preenche_l_20{padding-left: 20px;box-sizing: border-box;}
.preenche_l_25{padding-left: 25px;box-sizing: border-box;}
.preenche_l_30{padding-left: 30px;box-sizing: border-box;}
.preenche_l_40{padding-left: 40px;box-sizing: border-box;}
.preenche_l_50{padding-left: 50px;box-sizing: border-box;}
.preenche_l_100{padding-left: 100px;box-sizing: border-box;}

.preenche_b_10{padding-bottom: 10px;box-sizing: border-box;}
.preenche_b_20{padding-bottom: 20px;box-sizing: border-box;}
.preenche_b_30{padding-bottom: 30px;box-sizing: border-box;}
/* ********************************************************* */

/* ***************** Efeitos no texto ******************* */
.semSelecao{ /* Retira a possibilidade de selecionar o texto */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}
.negrito{font-weight: bold;} /* Negrito */
.underline{text-decoration: underline;} /* Adiciona uma linha inferior no texto */
.word_break{word-break: break-all;}/* 'quebra' a palavra */
.ellipsis{text-overflow: ellipsis; overflow: hidden;} /* Aplica reticências caso o texto ultrapasse o tamnho desejado */

.espacamento_letra_2{letter-spacing: 2px;} /* Espaçamento entre as linhas */
.espacamento_letra_5{letter-spacing: 5px;} /* Espaçamento entre as linhas */

.espacamento_linha_25{line-height: 25px;} /* Espaçamento entre as linhas */
.espacamento_linha_35{line-height: 35px;} /* Espaçamento entre as linhas */
/* ********************************************************* */

/* ***************** Overflow nos componentes ******************* */
.overflow_auto{overflow: auto;}
.overflow_hidden{overflow: hidden;}
/* ********************************************************* */

/* ***************** Alinhamento de texto ******************* */
.align_center{text-align: center;}
.justificado{text-align: justify;}
.align_right{text-align: right;}
.align_left{text-align: left;}
/* .margem_titulo_10{padding-top: 10px;}
.margem_titulo_20{padding-top: 20px;} */
/* ********************************************************* */

/* ***************** Campos de entrada (inputs) ******************* */
.input_text1{ /*input do tipo text */
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-color: #00C853;
  outline: none;
  background-color: transparent;
  /* box-shadow: 0px 1px 25px -2px #000; */
  text-overflow: ellipsis;

  /* Texto */
  color: #fff;
  font-family: 'titulo';
  /* text-align: center; */
}
.input_text::placeholder{
  color: #fff;
  font-family: 'titulo';
}
/* ****************************************************** */

/*combo box*/
.select-pac
{
  width: 80%;
  font-family: conteudo;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  border-bottom-color: #00C853;
  /*background-color: red;*/
}

.input_submit{ /*input do tipo submit */
  background-color: #263238;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  box-shadow: 0px 4px 5px -2px #000;

  /* Texto */
  color: #fff;
  text-shadow: 0px 0px 2px #000;
  font-family: 'titulo';
  text-align: center;
}
/* ****************************************************** */

/*Label*/
.field-label
{
  font-weight: 9000;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  /*margin-bottom: -5%;*/
  /*font-size: 0.90rem;*/
  margin-left: 10.3%;
  font-family: conteudo;
  align-self: flex-start;
}
/* ****************************************************** */


/*input_submit sem background*/
.input_submit_cp{ /*input do tipo submit */
  background-color: #000;
  /*border-radius: 5px;*/
  /*border: solid 1px #000;*/
  /*padding: 5px;*/
  /*box-shadow: 0px 4px 5px -2px #000;*/
  border-radius: 30px 30px 30px 30px;

  /* Texto */
  color: #fff;
  text-shadow: 0px 0px 2px #fff;
  font-family: 'titulo';
  text-align: center;
}

/* ***************** Margens ******************* */
.margem_10{margin: 10px 0px;}

.margem_t_5{margin-top: 5px;}
.margem_t_10{margin-top: 10px;}
.margem_t_15{margin-top: 15px;}
.margem_t_20{margin-top: 20px;}
.margem_t_25{margin-top: 25px;}
.margem_t_30{margin-top: 30px;}
.margem_t_35{margin-top: 35px;}
.margem_t_36{margin-top: 36px;}
.margem_t_40{margin-top: 40px;}
.margem_t_45{margin-top: 45px;}
.margem_t_50{margin-top: 50px;}
.margem_t_80{margin-top: 80px;}
.margem_t_100{margin-top: 100px;}
.margem_t_110{margin-top: 110px;}
.margem_t_115{margin-top: 115px;}
.margem_t_150{margin-top: 150px;}
.margem_t_170{margin-top: 170px;}
.margem_t_175{margin-top: 175px;}
.margem_t_180{margin-top: 180px;}
.margem_t_200{margin-top: 200px;}
.margem_t_210{margin-top: 210px;}
.margem_t_215{margin-top: 215px;}
.margem_t_250{margin-top: 250px;}
.margem_t_260{margin-top: 260px;}
.margem_t_275{margin-top: 275px;}
.margem_t_280{margin-top: 280px;}

.margem_l_5{margin-left: 5px;}
.margem_l_10{margin-left: 10px;}
.margem_l_15{margin-left: 15px;}
.margem_l_20{margin-left: 20px;}
.margem_l_30{margin-left: 30px;}
.margem_l_35{margin-left: 35px;}
.margem_l_40{margin-left: 40px;}
.margem_l_50{margin-left: 50px;}
.margem_l_60{margin-left: 60px;}
.margem_l_70{margin-left: 70px;}
.margem_l_80{margin-left: 80px;}
.margem_l_90{margin-left: 90px;}
.margem_l_100{margin-left: 100px;}
.margem_l_150{margin-left: 150px;}
.margem_l_180{margin-left: 180px;}
.margem_l_200{margin-left: 200px;}
.margem_l_220{margin-left: 220px;}

.margem_l_70_cento{margin-left: 70%;}
.margem_l_72_cento{margin-left: 72%;}
.margem_l_73_cento{margin-left: 73%;}
.margem_l_74_cento{margin-left: 74%;}
.margem_l_75_cento{margin-left: 75%;}

.margem_b_10{margin-bottom: 10px;}
.margem_b_20{margin-bottom: 20px;}
.margem_b_30{margin-bottom: 30px;}
.margem_b_40{margin-bottom: 40px;}
.margem_b_50{margin-bottom: 50px;}
.margem_b_80{margin-bottom: 80px;}
/* ****************************************************** */

/* ***************** Float ******************* */
.float_left{float: left;}
.float_right{float: right;}
/* ****************************************************** */

/* ***************** Cores de fundo ******************* */
.bg_branco{background-color:#fff;}
.bg_preto{background-color:#000;}
.bg_cinza{background-color:#E0E0E0;}
.bg_grafite{background-color:#424242;}
.bg_vermelho{background-color:#F44336;}
.bg_verde{background-color:#4CAF50;}
.bg_verde_natural{background-color:#388E3C;}
.bg_verde_vivo{background-color:#00C853;}
.bg_azulado_escuro{background-color:#263238;}

.transparente{background-color:transparent;}
/* ****************************************************** */

/*Botao de retorno*/
.return-button
{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 90%;
  margin-top: 2.5%;
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.12), 0 5px 10px rgba(0,0,0,0.23);
  background-color: #fff;
}
/* ****************************************************** */

/* ***************** Redimensionamento dos componentes ******************* */
.no_resize{resize: none;}
/* ****************************************************** */

/* ***************** Cores das fontes ******************* */
.txt_branco{color:#fff;}
.txt_vermelho{color:#FF0000;}
.txt_preto{color:#000;}
.txt_verde_vivo{color:#00C853;}
/* ****************************************************** */

/* ***************** Links ******************* */
.link{
  transition: 1s;
  font-family: titulo;
  color: #4CAF50;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 0px 0px 1px #00C853;
}
.link:hover{
  transition: 1s;
  color: #00C853;
}
/* ****************************************************** */

/* ***************** Remove o preenchimento dos componentes ******************* */
.sem_preenchimento{padding:0px;}
/* ****************************************************** */

/* ***************** Remove a margem dos componentes ******************* */
.sem_margem{margin:0px;}
/* ****************************************************** */

/* ***************** Remove a sombra dos componentes ******************* */
.sem_sombra{box-shadow: none;}
/* ****************************************************** */

/* ***************** Tamanho das fontes ******************* */
.fs_14{font-size:14px;}
.fs_16{font-size:16px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_25{font-size:25px;}
.fs_30{font-size:30px;}
.fs_40{font-size:40px;}
.fs_50{font-size:50px;}
.fs_60{font-size:60px;}
.fs_70{font-size:70px;}
.fs_80{font-size:80px;}
.fs_100{font-size:100px;}
.fs_120{font-size:120px;}
/* ****************************************************** */

/* ***************** Bordas das fontes ******************* */
.borda_3{border: solid 3px;}

/* Boardas suavizadas */
.bsuavizada_5{border-radius: 5px;}
.bsuavizada_10{border-radius: 10px;}
.bsuavizada_25{border-radius: 25px;}
.bsuavizada_40{border-radius: 40px;}
.bsuavizada_250{border-radius: 250px;}
/* ****************************************************** */

/* ***************** Borda dos componentes ******************* */
.borda_cinza_escuro_b_5{border-bottom: solid 5px #212;}

.borda_preta_1{border: solid 1px #000;}
.borda_preta_2{border: solid 2px #000;}

.borda_preta_t_1{border-top: solid 1px #000;}
.borda_preta_t_2{border-top: solid 2px #000;}

.borda_preta_r_1{border-right: solid 1px #000;}
.borda_preta_r_5{border-right: solid 5px #000;}

.borda_cinza_r_2{border-right: solid 2px #BDBDBD;}

.borda_preta_b_1{border-bottom: solid 1px #000;}
.borda_preta_b_2{border-bottom: solid 2px #000;}

.borda_verde_vivo_1{border: solid 1px #00C853;}
.borda_verde_vivo_2{border: solid 2px #00C853;}
.borda_verde_vivo_4{border: solid 4px #00C853;}

.sem_borda{border: none;}

/* Remove a borda azul da cixa do componente */
.outline_none{outline: none;}
/* ********************************************************* */
