.container_conteudo{
  width: 1155px;
  height: 885px;

}

.container_missao{
  width: 1155px;
  height: 220px;

}

.container_titulo{
  width: 1155px;
  height: 30px;

}

.item_titulo{
  width: 150px;
  height: 30px;
}

.container_infs{
  width: 1000px;
  height: 190px;
  background-color: #9900cc;

}

.segura_imagem{
  width: 200px;
  height: 190px;
  /*background-color: #ffff99;*/

}

.item_img{
  width: 200px;
  height: 190px;
  background-color: #009900;

}

.container_segura_textarea{
  width: 500px;
  height: 190px;
  background-color: #ff99ff;

}
