.modal{
  margin-top: 20px;
  width: 1420px;
  height: 800px;
  box-shadow: 0 0 1000px 100px #000;
}
.label_campo{
  width: 800px;
  height: 20px;
  /* background-color: aqua; */
}
.container_dados_expostos{
  width: 820px;
  height: 800px;
  overflow: hidden;
  box-shadow: -2px 0px 100px 20px #000;
  /* background-color: yellow; */
}
.container_endereco_lados{
  width: 410px;
  height: 800px;
  /* background-color: aqua; */
}
.linha_l{
  display: block;
  width: 95%;
  height: 1px;
  border-radius: 100px;
  background-color: #00C853;;
  margin-top: 5px;
  margin-bottom: 25px;
  /* margin-left: auto; */
  margin-right: auto;
}
.divisor{
  margin-top: 0px;
  margin-bottom: 0px;
}
.container_img_cliente{
  width: 600px;
  height: 800px;
  background-image: url('https://images.unsplash.com/photo-1521225099409-8e1efc95321d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29849dd5ebefa406f4b6a2402ac04a6c&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb');
  background-repeat: round;
  background-attachment: local;
}
.container_img_cliente img{
  width: inherit;
  height: inherit;
}
.container_label_campos_cliente{
  width: 100%;
  height: 550px;
  /* display: none; */
  /* background-color: purple; */
}
.container_label_campos_usuario{
  width: 100%;
  height: 300px;
  display: none;
  /* background-color: yellow; */
}
.container_label_campos_endereco{
  width: 100%;
  height: 520px;
  display: none;
  /* background-color: purple; */
}
