/********************************/

.container_principal{
  width: 1420px;
  height: 885px;
  background-color: #fff;
}

.conteiner_conteudo{
  width: 1155px;
  height: 100%;
}

/*Formata os cards padrao  */
.conteudo_galeria{
  width: 1100px;
  min-height:40px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

/*Titulo do card*/
.titulo_galeria{
  width: 100%;
  height: 40px;
  padding-left: 5px;
  background-color: #000;
}

.pesquisa_galeria{
  width: 515px;
  height: 40px;
  float: right;
}

.inp_texto{
  width: 364px;
  height: 35px;
  float: left;
  margin-top: 2px;
}

.pes{
  width: 99%;
  height: 30px;
  border-radius: 7px 0px 0px 7px;
}

.inp_bot{
  width: 150px;
  height: 35px;
  float: left;
  margin-top: 3px;
}

.bot{
  width: 110px;
  height:35px;
  border-radius: 0px 7px 7px 0px;
}

/*Formataçao padrao para todas as imagens principais*/
.segura_principal{
  width: 300px;
  height: 100%;
  float: left;
}

.principal{
  width: 280px;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.principal img{
  width: 100%;
  height: 100%;
  transition: 1s;
}


/*Botoens*/
.segura_botao{
  width: 204px;
  height: 80px;
  float: left;
  margin-top: -190px;
  margin-left: 40px;
  position: absolute;
}

.ocultar{
  width: 100px;
  height: 80px;
  transition: 2s;
  float: left;
  border: solid 1px #000;
}

/*Titulo dos botoens*/
.ti{
  width: 95px;
  height: 20px;
  padding-left: 5px;
  background-color: #fff;
}

.bt{
  margin-top: 10px;
  margin-left: 30px;
}

.excluir{
  width: 100px;
  height: 80px;
  border: solid 1px #000;
  float: left;
}

/*feito na imagem principal*/
.principal:hover .blur{
  transition: 1s;
  -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
    -ms-filter: blur(5px);
     -o-filter: blur(5px);
     filter: blur(5px);
}

.principal:hover .segura_botao{
  display: block;

}

/****/
/*Formataçao padrao para todas os textos informativo*/
.segura_inf{
  width: 300px;
  height: 100%;
  float: left;
}

.texto_inf{
  width: 270px;
  max-height: 350px;
  margin-top: 80px;
  padding-left: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.inf_parceiro{
  width: 97%;
  max-height: 140px;
  margin-top: 5px;
}

.inf_img{
  /* background-color: pink; */
  width: 100%;
  line-height: 35px;
  max-height: 200px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****/


/*        CAROUSEL                              */
/*Formataçao padrao do carousel moto*/
.segura_outras{
  width: 400px;
  padding-left: 85px;
  height: 100%;
  /* background-color: green; */
  float: left;
}

.container_carousel{
  width: 500px;
  height: 170px;
  margin-top: 120px;
}

li img {
  width: 135px;
  height: 135px;
}
.menu_carrosel{
  width: 25px;
  height: 40px;
  float: left;
  margin-top: 190px;
}

ul{
  width: 450px;
  height: 180px;
}

ul li{
  float: left;
  width: 135px;
  height: 135px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  box-shadow: 0px 0px 5px #000;
}


/**/

/**/
.carrossel_moto{
  width: 650px;
  height: 175px;
  float: left;
  margin-top: 125px;
  margin-left: 5px;
  margin-right: 5px;
  /* background-color: red; */
}

.carrossel_moto li{
  width: 300px;
}

.carrossel_moto img{
  width: inherit;
}




/*Carrosel dos produto*/
.carrossel_servico{
  width: 450px;
  height: 175px;
  float: left;
  margin-top: 125px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}






/*Carrosel dos carros*/
.carrossel_carro{
  overflow: hidden;
  width: 450px;
  height: 175px;
  float: left;
  margin-top: 125px;
  margin-left: 5px;
  margin-right: 5px;
}




/*Carrosel dos produto*/
.carrossel_produto{
  display: block;
  overflow: hidden;
  width: 450px;
  height: 175px;
  float: left;
  margin-top: 125px;
  margin-left: 5px;
  margin-right: 5px;
}



/*************************************************/


/*Card do conteudo referente as imagens de moto*/
.conteudo_moto{
  width: 1100px;
  height: 420px;
}

/*Card do conteudo referente as imagens dos serviços*/
.conteudo_servico{
  width: 1100px;
  height: 420px;
}

/*Card do conteudo referente as imagens dos carros*/
.conteudo_carro{
  width: 1100px;
  height: 420px;
}

/*Card do conteudo referente as imagens de carros*/
.conteudo_produto{
  width: 1100px;
  height: 420px;
}
