body{
  width: 100%;
  height: 100%;
  background-image: url("../../pictures/cms_home/bg_cms.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.container_modal{
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 999;
}
/* OBS.: NUNCA ALTERE ESTA CLASSE. PARA ALTERA-LÁ REESCREVA-A */
.modal{
  margin-top: 100px;
  width: 800px;
  height: 400px;
  background-color: #fff;
}
header{
  width: 100%;
  height: 80px;
}
.cabecalho_centralizado{
  width: 1420px;
  height: 80px;
}
.logo_pac{
  width: 150px;
  height: 80px;
}
.logo_pac img{
  width: inherit;
  height: inherit;
}
.titulo_cabecalho{
  width: 900px;
  height: 80px;
}
.saudacao_cabecalho{
  width: 370px;
  height: 80px;
}
