.container_principal_ph{
  width: 1255px;
  height: 1300px;
  /*background-image: url('../../pictures/cms_produtos_home/carro.jpg');*/
  background-repeat: no-repeat;
  background-color: #fff;

}

body{
  width: 100%;
  min-height: 1320px;
  height: auto;
  background-image: url("../../pictures/adm_parceiro/lago.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container_menu_l{
  width: 400px;
  min-height: 1300px;
  height: auto;
  box-shadow: 0px 0px 20px #000;
  /*background-color: #66ff99;*/

}

.container_img_menu{
  width: 200px;
  height: 200px;
  border-radius: 100px;

}

.divisor_ph{
  display: block;
  width: 1000px;
  height: 1px;
  border-radius: 100px;
  background-color: #607D8B;
  margin-top: 25px;
  margin-left: 110px;
  margin-bottom: 25px;
}

.item_img_menu_l{
  width: 200px;
  height: 200px;
  border-radius: 100px;

}

.container_nome_usuario{
  width: 400px;
  height: 50px;
  /*background-color: #284;*/

}

.item_nome_usuario{
  width: 400px;
  height: 50px;
  /*background-color: green;*/

}

.container_titulo_ph{
  width: 1030px;
  height: 70px;
  background-color: #000000;
  color:#00C853;

}

.item_titulo_ph{
  width: 1030px;
  height: 70px;
  /*background-color: #fff;*/

}

.campos{
  width: 500px;
  height: 700px;
  float: left;
  background-color: #ffffff;
}

.names_campos{
  width: 250px;
  height: 700px;
  float: left;
  background-color: #000000;
}

.name_campo{
  width: 250px;
  height: 50px;
  float: left;
  margin-top: 10px;
  color:#00C853;
  /*margin-left: 150px;*/
  background-color: #000000;
  text-align: center;
  font-style: italic;
}

.color{
    border: solid 1px;
    border-color: #00C853;
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
}

.inputs_campos{
  width: 250px;
  height: 700px;
  float: left;
  background-color: #000000;
}

.preencher_inputs{
  width: 250px;
  height: 50px;
  float: left;
  margin-top: 8px;
  /*margin-left: 150px;*/
  /*background-color: #412563;*/
}

#float{
  margin-top: 15px;
}

.container_visual{
  width: 960px;
  height: 200px;
  /*margin-top: 800px;*/
  /*margin-left: 510px;*/
  background-color: red;

  /*overflow-y: scroll;*/
}
.input_submit_ph{
  width: 200px;

}
.campos_visual{
  width: 80px;
  height: 50px;
  float: left;
  color:#00C853;
  background-color: #000000;
  text-align: center;
}

.campos_table{
  width: 80px;
  height: 50px;
  float: left;
  color:#ffffff;
  background-color: #000000;
  text-align: center;
}
