
.container_principal_cliente{
  width: 1420px;
  height: 885px;
  background-color: red;
}

.container_segura_cadastro_cliente{
  width: 1155px;
  min-height: 300px;
  overflow: hidden;
  height: auto;
  background-color: gray;

}

.container_segura_texto_imagem{
  width: 300px;
  height: 300px;
  margin-left: 30px;
  /*background-color: blue;*/

}

.texto_imagem{
  width: 300px;
  height: 30px;
  background-color: green;

}

.imagem_cliente{
  width: 250px;
  height: 200px;
  background-color: yellow;

}

.container_segura_texto_cadastro_cliente{
  width: 500px;
  height: 250px;
  overflow: hidden;
  background-color: blue;

}

.texto_cadastro{
  width: 500px;
  height: 30px;
  background-color: #fff;

}

.edit_texto{
  width: 350px;
  height: 300px;

}

.container_segura_botao{
  width: 325px;
  height: 100px;
  float: left;

}

.input_submit{
  width: 100px;

}

.container_segura_cadastro_parceiro{
  width: 1155px;
  min-height: 300px;
  overflow: hidden;
  height: auto;
  background-color: #0066ff;

}

.container_texto_imagem_parceiro{
  width: 300px;
  height: 30px;
  background-color: green;

}

.imagem_cadastro_parceiro{
  width: 250px;
  height: 200px;
  overflow: hidden;
  background-color: yellow;

}
