/*edita a imagem fazendo ela pegar 100%% da div*/

img{
  width: 100%;
  height: 100%;
}

/********************************/

.container_principal{
  width: 1420px;
  min-height: 885px;
  background-color: #fff;
}

.conteiner_conteudo{
  width: 1155px;
  height: 100%;
}

/*Formata os cards padrao  */
.conteudo_galeria{
  width: 1000px;
  min-height: 30px;
  height: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 20px #000;
  overflow: hidden;
  /*background-color: #b3b3b3;*/
}

.titulo_galeria{
  width: 70%;
  height: 30px;
  float: left;
  color: #fff;
  background-color: #000;
}
.pesquisa_galeria{
  width: 30%;
  height: 30px;
  float: left;
  color: #fff;
  background-color: #000;
}

input{
  float: left;
  height: 100%;
}

/*parte da imagem*/
.segura_img{
  width: 300px;
  height: 100%;
  float: left;

}

.tamanho_imagem{
  width: 280px;
  height: 300px;
  margin-top: 95px;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}

/*Informações da imagens*/

.inf_img{
  width: 300px;
  height: 100%;
  float: left;
  background-color: blue;
}

.parceiro{
  
}


/**/
.imagens{
  width:400px;
  height: 100%;
  float: left;
  background-color: brown;
}



/********************************************/

/*Esconder as divs*/
.escondido{
  display: none;
}


/**/
#conteudo_moto{
  width: 1000px;
  height: 470px;
}


#conteudo_carro{
  width: 1000px;
  height: 470px;
}

#conteudo_servico{
  width: 1000px;
  height: 470px;
}


#conteudo_produto{
  width: 1000px;
  height: 470px;
}







/**********************/



.segura_icone{
  width: 250px;
  height: 45px;
  margin-top: 25px;
}

.icone{
  width: 45px;
  height: 40px;
  float: left;
}

.icone i{
  width: 100%;
  height: 100%;
  font-size: 45px;
}


.icone_delete{
  width: 40px;
  height: 40px;
  float: left;
  border: solid 1px #000;
  border-radius: 50px 50px 50px 50px;
}

.icone_delete i{
  width: 50%;
  height: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.inf_icone{
  width: 150px;
  height: 20px;
  padding-top: 10px;
  padding-left: 5px;
  float: left;
}

/********************************/
.img_pags{
  width: 370px;
  height: 100%;
  float: left;
}

.titulo_img{
  width: 100%;
  height: 25px;
  text-align: center;
  font-size: 19px;
}

.container_img{
  width: 363px;
  height: 115px;
  box-shadow: 0px 0px 5px #000;
  overflow: auto;
}

.img_galeria{
  width: 100px;
  height: 90px;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}
