.container_principal{
  width: 1420px;
  height: 885px;
}
.conteudo_central{
  width: 1155px;
  height: 885px;
}
.fundo_preto{
  width: inherit;
  height: inherit;
  background-color: red;
}
.mensgaem_saudacao{
  width: inherit;
  height: 260px;
  /* background-color: green; */
}
.titulo_saudacao{
  width: 1100px;
  height: 50px;
  /* background-color: red; */
}
.preposicao_saudacao{
  width: 100px;
  height: 30px;
  /* background-color: aqua; */
}
.subtitulo_saudacao{
  width: 1100px;
  height: 60px;
  /* background-color: purple; */
}
