.container_principal_ph{
  width: 1255px;
  height: 885px;
  background-image: url('../../pictures/cms_produtos_home/carro.jpg');
  background-repeat: no-repeat;
  /*background-color: gray;*/

}

.container_titulo_ph{
  width: 1030px;
  height: 70px;
  background-color: #000000;
  color:#00C853;

}

.item_titulo_ph{
  width: 1030px;
  height: 70px;
  /*background-color: #fff;*/

}

.campos{
  width: 500px;
  height: 700px;
  float: left;
  background-color: #ffffff;
}

.names_campos{
  width: 250px;
  height: 700px;
  float: left;
  background-color: #000000;
}

.name_campo{
  width: 250px;
  height: 50px;
  float: left;
  margin-top: 10px;
  color:#00C853;
  /*margin-left: 150px;*/
  background-color: #000000;
  text-align: center;
  font-style: italic;
}

.color{
    border: solid 1px;
    border-color: #00C853;
    width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
}

.inputs_campos{
  width: 250px;
  height: 700px;
  float: left;
  background-color: #000000;
}

.preencher_inputs{
  width: 250px;
  height: 50px;
  float: left;
  margin-top: 8px;
  /*margin-left: 150px;*/
  /*background-color: #412563;*/
}

#float{
  margin-top: 15px;
}

.container_visual{
  width: 960px;
  height: 150px;
  margin-top: 100px;
  margin-left: 510px;
  background-color: #000000;

  /*overflow-y: scroll;*/
}

.campos_visual{
  width: 80px;
  height: 50px;
  float: left;
  color:#00C853;
  background-color: #000000;
  text-align: center;
}

.campos_table{
  width: 80px;
  height: 50px;
  float: left;
  color:#ffffff;
  background-color: #000000;
  text-align: center;
}
