.Container_titulo{
  width: 400px;
  height: 800px;
  background-color: red;
  float: left;
}
.titulo{
  width: 400px;
  height: 70px;
  background-color: pink;
  margin-bottom: 5px;
  font-size: 30px;
}
.Container_input{
  width: 400px;
  height: 800px;
  background-color: green;
  float: left;
}
.input{
  width: 400px;
  height: 70px;
  background-color: magenta;
  margin-bottom: 5px;
}
.input_text_111{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
