body{
  margin: 0px;
}
.container_conteudo_central_apc{
  width: 100%;
  height: 949px;

}

.container_menu_l_apc{
  width: 400px;
  height: 900px;
}

.container_geral{
  width: 1155px;
  height: 910px;
  margin-left: 100px;
  /*margin-left: 500px;*/
  float: left;
  background-color: #fff;
}
.item_dados{
  width: 250px;
  height: 50px;
  margin-right: 5px;
  /*background-color: orange;*/
  padding-top: 30px;
  margin-left: 29px;
  float: left;

}
.editar{
  width: 125px;
  height: 50px;
  /*background-color: green;*/
  float: left;
}
.excluir{
  width: 125px;
  height: 50px;
  /*background-color: magenta;*/
  float: left;
}
.item_visu{
  width: 250px;
  height: 50px;
  /*margin-right:5px;*/
  margin-left: 32px;
  /*background-color: grey;*/
  margin-bottom: 2px;
  border: solid 1px;
  float: left;
}
.editar_visu{
  width: 125px;
  height: 50px;
  /*background-color: tomato;*/
  float: left;
}
.excluir_visu{
  width: 125px;
  height: 50px;
  /*background-color: yellow;*/
  float: left;
}

.container_titulo{
  width: 1155px;
  height: 120px;
  /*background-color: orange;*/

}

.item_titulo{
  width: 1155px;
  height: 120px;
  /*background-color: green;*/
  padding-top: 1px;
  text-align: center;

}

.container_ok{
  width: 1152px;
  height: 80px;
  /*background-color: red;*/

}

.container_itens{
  width: 1155px;
  height: 300px;
  /*background-color: red;*/
  overflow: auto;
  margin-top: 20px;

}

.container_sla{
  width: 1138px;
  height: 52px;
  /*background-color: green;*/
  margin-top: 5px;

}

.divisor_vc{
  display: block;
  width: 80%;
  height: 1px;
  border-radius: 100px;
  background-color:#00C853;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.bt_retornar{
  width: 40px;
  height: 40px;
  /*background-color: red;*/
  float: right;
  /*margin-right: -100px;*/
  margin-top: 250px;
  padding-left: 10px;
}

.img_retorno{
  width: 40px;
  height: 40px;

}
