.pendentes{
  width: 900px;
  min-height: 400px;
  background: red;
  overflow-y: inherit;
}
.nomeCliente{
  width: 200px;
  height: 50px;
  background-color: pink;
  float: left;
}
.dataAgendada{
  width: 200px;
  height: 50px;
  background-color: grey;
  float: left;
}
.servico{
  width: 200px;
  height: 50px;
  background-color: yellow;
  float: left;
}
.sttPendente{
  width: 200px;
  height: 50px;
  background-color: orange;
  float: left;
}
.confirmar{
  width: 50px;
  height: 50px;
  background-color: blue;
  float: left;
}
.recusar{
  width: 50px;
  height: 50px;
  background-color: aqua;
  float: left;
}

.confirmadosRecusados{
  width: 823px;
  height: 400px;
  overflow:auto;
  margin-top: 10px;
  background: green;
}
